<p>Source code for this demo: <a href="https://github.com/alco/ember-react-demo">https://github.com/alco/ember-react-demo</a></p>
<p>Original React demo: <a href="http://binarymuse.github.io/react-primer/build/index.html?6">http://binarymuse.github.io/react-primer/build/index.html?6</a></p>

<hr/>

{{outlet}}
