<p>Source code for this demo: <a href="https://github.com/alco/ember-react-demo">https://github.com/alco/ember-react-demo</a></p>
<p>Original React demo: <a href="http://binarymuse.github.io/react-primer/build/index.html?6">http://binarymuse.github.io/react-primer/build/index.html?6</a></p>

<hr/>

<ul id="filters">
    <li>
        {{#link-to "ember-data" activeClass="selected"}}Ember + Ember Data{{/link-to}}
    </li>
    <li>
        {{#link-to "ember" activeClass="selected"}}Ember{{/link-to}}
    </li>
    <li>
        {{#link-to "react" activeClass="selected"}}React{{/link-to}}
    </li>
</ul>

<hr/>
  
{{outlet}}
